body {
    margin: 0;
    background-color: rgb(144, 175, 214);
    color: black;
    font-family: Arial, sans-serif;
}

nav{
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgb(71, 103, 145);
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex; /* Use flexbox to align the list items horizontally */
    justify-content: center;
}
nav a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}

main {
    padding-top: 60px; /* Nav bar was touching the header */
}

nav a:hover {
    background-color: rgb(144, 175, 214);
    color: black;
}

section{
    width: 80%;
    margin: 7px auto;
    padding: 30px;
    background-color: white;
    border: 3px solid darkgrey;
}

h1 {
    color: darkblue;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: darkblue;
    text-align: center;
}

h3{
    color: rgb(114, 157, 249);
}

p{
    font-size: 18px;
}

figure{
    text-align: center;
}

figure img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border: 3px solid rgb(67, 85, 170);
}

.list {
    background-color: lightblue;
    border: 2px solid darkblue;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.list li {
    padding: 10px;
}

table{
    width: 100%;
    border: 2px solid black;
}

td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th{
    border: 1px solid black;
    padding: 8px;
    background-color: rgb(91, 177, 206)
}

#contact {
    text-align: center;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list li {
    margin: 15px;
}

.contact-list a {
    color: darkblue;
    text-decoration: none;
    font-size: 20px;
}

.contact-list a:hover {
    color: lightskyblue;
    text-decoration: underline;
}

footer {
    background-color:rgb(78, 78, 78);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

#skills-button {
    background-color: rgb(71, 103, 145);
    color: white;
    border: none;
    padding: 12px 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

#skills-button:hover {
    background-color: rgb(144, 175, 214);
    color: black;
}

#interests {
    text-align: center;
}

#interests h2 {
    margin-bottom: 10px;
}

#interests h3 {
    text-align: center;
    margin-bottom: 25px;
}

.interest-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    list-style-position: inside;
    margin: 20px auto;
    padding: 0;
    max-width: 700px;
}

.interest-cards li {
    width: 280px;
    min-height: 160px;
    padding: 20px;

    background-color: lightblue;
    border: 2px solid darkblue;
    border-radius: 12px;
}

.interest-cards strong {
    display: block;
    margin-bottom: 10px;

    color: darkblue;
    font-size: 20px;
}

.interest-cards p {
    margin: 0;
    line-height: 1.5;
}